.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 0;
  z-index: 9;
}

.alert.notification {
  width: auto;
  min-width: 200px;
  right: 100px;
}
